/* Button styling */

.shared {
  background: white;
  font-family: Arial;
  color: #36394A;
  cursor: pointer;
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
}



/* .normal {
  border: 1px solid #E5E7EA;
  box-shadow: inset 0 -1px 2px 0px rgba(18,55,105,0.16);
} */

.normal {
  /* border: 1px solid #E5E7EA; */
  box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.05),
              0px 2px 2px -1px rgba(0,0,0,0.1),
        inset 0px -1px 4px 0px rgba(0,0,0,0.05);
}



.haptic {
  box-shadow: 0 0 0 1px rgba(18, 55, 105, 0.08),
              0 1px 2px 0 rgba(42, 59, 81, 0.12);
}
.haptic:active {
  box-shadow: 0 0 0 1px rgba(18, 55, 105, 0.08);
}


.combined {
  box-shadow: inset 0 -1px 2px 0px rgba(18,55,105,0.16),
                    0 0 0 1px rgba(18, 55, 105, 0.08),
                    0 1px 2px 0 rgba(42, 59, 81, 0.12);
}
.combined:active {
  box-shadow: inset 0 -1px 2px 0px rgba(18,55,105,0.16),
                    0 0 0 1px rgba(18, 55, 105, 0.08);
}


.depress {
  box-shadow: inset 0 -1px 2px 0px rgba(18,55,105,0.16),
                    0 0 0 1px rgba(18, 55, 105, 0.08),
                    0 1px 2px 0 rgba(42, 59, 81, 0.12);
}
.depress:active {
  box-shadow: inset 0 0 2px 1px rgba(18,55,105,0.3);
}



.gradient {
  background: linear-gradient(#eee,#ddd);
  box-shadow: inset 0px 1px 2px 0 rgba(250, 250, 250, 0.4);
  padding: 6px 14px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-family: Arial;
  color: #555;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0,0,0,0.06);
}