html,
body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 40px;
  letter-spacing: 0.01em;
}
h3 {
  font-size: 36px;
  letter-spacing: 0.015em;
}
h4 {
  font-size: 28px;
  letter-spacing: 1px;
}
h5 {
  font-size: 20px;
  letter-spacing: 1px;
}
h6 {
  font-size: 16px;
  letter-spacing: 0.08em;
}
span {
  letter-spacing: 1px;
  font-family: "Cal Sans";
}
.quote {
  font-size: 24px;
  letter-spacing: 0.02em;
}
.smaller_cal_sans {
  font-size: 18px;
  letter-spacing: 0.045em;
}

.custom-shadow {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 0 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.slide-left {
  animation: 0.75s ease-out 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
  0% {
    margin-left: -20px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

.slide-right {
  animation: 0.75s ease-out 0s 1 slideInFromRight;
}
@keyframes slideInFromRight {
  0% {
    margin-right: -20px;
    opacity: 0;
  }
  100% {
    margin-right: 2rem;
    opacity: 1;
  }
}

.slide-up {
  animation: 0.75s ease-out 0s 1 slideInFromBottom;
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up-30 {
  animation: 0.75s ease-out 0s 1 slideInFromBottomDelayed;
}

@keyframes slideInFromBottomDelayed {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
